<div class="container">
	<div class="row" style="margin:0 0 0 11px;">
		<!-- ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/cows.jpg" alt="દેશી ગાય, ગીર ગાય, જરસી ગાય તેમજ ગાયની બધી &#8203;જ ભારતીય જાતો" class="categoryImg" ng-click="getList(3)" src="img/cows.jpg">
		</div><!-- end ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/buffalos.jpg" alt="ભેંસ - Indian Buffallo" class="categoryImg" ng-click="getList(4)" src="img/buffalos.jpg">
		</div><!-- end ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/bull.jpg" alt="&#8203;બળદ" class="categoryImg" ng-click="getList(5)" src="img/bull.jpg">
		</div><!-- end ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/horses.jpg" alt="ઘોડા  - અશ્વ - Horses" class="categoryImg" ng-click="getList(6)" src="img/horses.jpg">
		</div><!-- end ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/dogs.jpg" alt="શ્વાન - કુતરા - Dogs" class="categoryImg" ng-click="getList(7)" src="img/dogs.jpg">
		</div><!-- end ngRepeat: category in categories --><div class="col catColumn ng-scope"  >
			<img ng-src="img/other.jpg" alt="અન્ય પશુઓ; બકરાં, ઘેટાં, ઊંટ વગેરે" class="categoryImg" ng-click="getList(8)" src="img/other.jpg">
		</div><!-- end ngRepeat: category in categories -->
	</div>
	<div><img src="media/ad1.jpg" style="width: 90%; margin: 15px;"></div>
</div>