<div class="row col">
<div class="col-sm-10 pageTitle"> આપની જાહેરાત મોકલવા માટે આ ફોર્મ માં માહીતી ભરો  </div>
</div>
<div class="col"></div>
<div class="">
<form name="newadd">
<div class="col-sm-10 form-group">
	<input type="text" name="title" ng-model="title" class="form-control" ng-required="true" placeholder="જાહેરાતનું શીર્ષક" oninvalid="this.setCustomValidity('કૃપા કરી જાહેરાત નું શીર્ષક લખો')"
 oninput="setCustomValidity('')">
</div>
<div class="col-sm-10 form-group">
	<textarea name="title" ng-model="description" rows="5" class="form-control" ng-required="true" placeholder="જાહેરાતની વિસ્તૃત માહીતી " oninvalid="this.setCustomValidity('કૃપા કરી જાહેરાતની વિગત લખો')"
 oninput="setCustomValidity('')"></textarea> 
</div>
<div class="col-sm-10 form-group">
	<input type="text" name="cost" ng-model="cost" class="form-control" placeholder="અંદાજીત કિંમત ">
</div>
<div class="col-sm-10 form-group">
	<label>જાહેરાતની કેટેગરી પસંદ કરો </label>
	
	<select class="form-control" ng-required="true" ng-model="categoryId" ng-options="category.categoryId as category.name for category in categories" oninvalid="this.setCustomValidity('કૃપા કરી જાહેરાતની વિગત લખો')"
 oninput="setCustomValidity('')">	</select>

</div>
<div class="col-sm-10 form-group">
	<label>ગામ-તાલુકો  </label>
	<select class="form-control" ng-required="true" ng-model="locationId" ng-options="location.locationId as location.title for location in locations">	</select>
</div>
<div class="col-sm-10 form-group">
	<input type="text" name="contactPerson" ng-model="contactPerson" ng-required="true" class="form-control" placeholder="સંપર્ક માટે નામ">
</div>
<div class="col-sm-10 form-group">
	<input type="text" name="contactNumber" ng-model="contactNumber" ng-required="true" class="form-control" placeholder="સંપર્ક માટે નંબર">
</div>
<div class="col-sm-10 form-group">
	<label>આપના પશુના ફોટા સિલેક્ટ કરો.</label>
	<input type='file' accept="image/*" multiple image="uploadfiles" ng-file="uploadfiles" class="form-control" resize-max-height="800" resize-max-width="800" resize-quality="0.7" resize-type="image/jpg" ng-image-compress>
	<img ng-src="{{item.compressed.dataURL}}" ng-repeat="item in uploadfiles"  />
</div>
<div class="col-sm-10 form-group">
	<span ng-bind="status"></span>
	<div id="waiting" class="waiting hide"></div>
	<button type="submit" id="insbtn" class="btn btn-default" ng-click="newadd.$valid && insertNewAdv()">આગળ વધો </button>
	<button type="submit" id="homebtn" class="btn btn-default hide" ng-click="gotoHome()">હોમપેજ પર જાઓ </button>
</div>
</form>
</div>