<p><b> Policies And Disclosure  -  નિયમો, શરતો અને જાહેરાતનામું</b></p>

<p>We may collect personal identification information from Users in a different ways in connection with activities, services, features or resources we offer on our application. Users may visit our application anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. </p>
 
<p>અમે અમારી એપ્લિકેશન પર ઉપલબ્ધ પ્રવૃત્તિઓ, સેવાઓ, સુવિધાઓ અથવા સ્રોતોના સંદર્ભમાં અલગ અલગ રીતોથી વપરાશકર્તાઓની વ્યક્તિગત ઓળખ માહિતી એકત્રિત કરી શકીએ છીએ. વપરાશકર્તાઓ અમારી એપ્લિકેશનને અજ્ઞાત રૂપે મુલાકાત લઈ શકે છે. અમે વ્યક્તિગત ઓળખ માહિતી વપરાશકર્તાઓ પાસેથી તો જ એકત્રિત કરીશું, જો તેઓ સ્વેચ્છાએ અમને આ માહિતી આપવા માંગતા હોય.</p>
 
<p>If any user is uploading information or news in the application, then we will publish his/her details like name, email id, address, phone number, etc.</p>
 
<p>જો કોઈ વપરાશકર્તા એપ્લિકેશનમાં માહિતી મોકલી કરી રહ્યું હોય, તો અમે તેની વિગતો જેમ કે નામ, ઇમેઇલ આઈડી, સરનામું, ફોન નંબર વગેરે પ્રકાશીત કરીશું.</p>
 
<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.</p>
 
<p>અમે અન્ય લોકોને વ્યકિતગત ઓળખની માહિતીનું વેચાણ, વેપાર અથવા ભાડે આપતા નથી અમે સામાન્ય એકીકૃત વસ્તી વિષયક માહિતી, જેની ઉપર જણાવેલ હેતુઓ માટે અમારા વ્યવસાય ભાગીદારો, વિશ્વસનીય આનુષંગિકો અને જાહેરાતકર્તાઓ સાથે મુલાકાતીઓ અને વપરાશકર્તાઓની વ્યક્તિગત માહિતી સાથે સંબંધિત ના હોય એવી વસ્તી-વિષયક સાર્વજનિક માહિતીની આપ-લે કરી શકીયે છીએ.</p>
 
<p>News or details published in the application is as per the thought of that user, for more details you can contact to the number given with that details.</p>
 
<p>એપ્લિકેશનમાં પ્રકાશિત થયેલ બધી વિગતો અથવા માહિતી જે તે વ્યક્તિએ આપેલા છે અને તે તેના વિચારો અને અનુભવો પ્રમાણે આપેલ છે. વધુ વિગત માટે તે વિગત સાથે આપેલ ફોન નંબર પર સંપર્ક કરવો.</p>
 
<p>Any registered user uploading information in the application gives rights to publish that information to the application. If any information uploaded in the application is not correct or is spam then that user will be responsible who has uploaded that information. The application will not be responsible for any type of such information.</p>
 
<p>એપ્લિકેશનમાં કોઈપણ નોંધાયેલ વપરાશકર્તા એમણે આપેલ માહિતી એપ્લિકેશનને પ્રકાશિત કરવાના હકો આપે છે. જો એપ્લિકેશનમાં અપલોડ કરેલી કોઈપણ માહિતી સાચી નથી અથવા સ્પામ છે તો તે વપરાશકર્તા જવાબદાર હશે, જેણે તે માહિતી મોકલી છે. આવી કોઈ પણ પ્રકારની માહિતી માટે આ એપ્લિકેશન જવાબદાર રહેશે નહીં.બધા નિયમો અને શરતો કોઈપણ સમયે બદલી શકાય છે.</p>
 
 
<p>Last decision or changes in terms and conditions will be in the hand of Application owner.</p>
 
<p>છેલ્લા નિર્ણય તથા ફેરફાર એપ્લિકેશન માલિકના હાથમાં રહેશે.</p>
 
<p>We will try to check and verify the correctness of the information uploaded in the application by the users, but if due to heavy traffic or any other reason it may happen that we miss something then it depends on the user to believe or put trust on that information. We will not be responsible for any of the misguide occurred due to that.In such case, you can contact us by phone or email and ask us to remove that information. </p>
 
<p>અમે વપરાશકર્તાઓ દ્વારા એપ્લિકેશનમાં મોકલેલી માહિતીની ચોકસાઈ ચકાસવાનો પ્રયાસ કરીશું, પરંતુ જો ભારે ટ્રાફિક અથવા કોઈ અન્ય કારણોસર જો આપણે કંઈક ચૂકી ગયા હોઈએ તો તે વપરાશકર્તા પર આધાર રાખે છે કે માહિતીની ચકાસણી પોતે કરે.  માહિતીના કારણે કોઈ ગેરમાર્ગે દોરે તે માટે અમે જવાબદાર નથી. આવા કિસ્સામાં, તમે ફોન અથવા ઇમેઇલ દ્વારા અમારો સંપર્ક કરી શકો છો અને અમને તે માહિતી દૂર કરવા માટે કહી શકો છો.</p>
 
<p>Any user uploading spam or incorrect information or the information that can harm others will be responsible himself or herself and may be blocked by the administrator for the use of the application. The user or any person who gets harm by the information uploaded in the application can take a legal action against that user. The application will not be responsible for any such cases. </p>
 
<p>કોઈપણ વપરાશકર્તા સ્પામ અથવા ખોટી માહિતી અથવા એવી માહિતી કે જે અન્ય લોકોને નુકસાન પહોંચાડી શકે છે તો તેના માટે પોતે જવાબદાર હશે અને એપ્લિકેશનના ઉપયોગ માટે એડમિનિસ્ટ્રેટર દ્વારા અવરોધિત થઈ શકે છે. વપરાશકર્તા અથવા કોઈ પણ વ્યક્તિ, જે એપ્લિકેશનમાં અપલોડ કરેલી માહિતી દ્વારા નુકસાન પહોંચાડે છે તે વપરાશકર્તા સામે કાનૂની કાર્યવાહી કરી શકે છે. આવા કિસ્સાઓ માટે આ એપ્લીકેશન જવાબદાર રહેશે નહીં.</p>

<p>We may contact you via email, facsimile, phone call or text message to deliver certain services or information you have requested.</p>

<p>અમે ઇમેઇલ, facsimile, ફોનકોલ અથવા ટેક્ષ્ટમેસેજ દ્વારા તમે માંગેલી માહિતી આપવા તમારો સંપર્ક કરી શકીયે છીએ.
</p>